<h1>Products</h1>

<%= link_to 'Add a Product', 'products/new' %> 

<% @products.each do |product| %>
	<p>	<%= link_to product.name, product %>
		<br>
		<br>
		<%= product.description %>
		<%= number_to_currency(product.formatted_price) %>
	</p>
<% end %>